@model int

<h1> @ChatHub.Controllers.ChatController.Rooms.GetValueOrDefault(Model) </h1>

<div class="row">
    <div class="col-12">

        <input type="text" placeholder="Usuario" id="user" />
        <input type="text" placeholder="Texto" id="message" />

        <button title="Enviar mensaje al grupo" class="btn btn-primary" id="btnSend">Enviar</button>
        <button title="Borrar todos los mensajes" class="btn btn-primary" id="btnClear">Borrar</button>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="messages" style="overflow-y: auto; max-height: 300px;">

        </div>
    </div>
    <div class="col-md-6" margin="10px;">
        <div id="notifications" style="overflow-y: auto; max-height: 300px;">

        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.start().then(()=>{
        connection.invoke("AddToGroup","@Model")
    }).catch((e)=>console.error(e));


    document.getElementById("btnSend").addEventListener("click", (event) => {

        let room = "@Model";

        let user = document.getElementById("user").value;

        let message = document.getElementById("message").value;

        connection.invoke("SendMessage",room,user,message)
        .catch((err)=>console.error(err.toString()));

        document.getElementById("message").value="";
        document.getElementById("message").focus();

        event.preventDefault();
    })


    document.getElementById("message").addEventListener("keypress", (event) => {
        if (event.key === "Enter") {
            event.preventDefault();

            let room = "@Model";
            let user = document.getElementById("user").value;
            let message = document.getElementById("message").value;

            connection.invoke("SendMessage", room, user, message)
                .catch((err) => console.error(err.toString()));

            document.getElementById("message").value = "";
            document.getElementById("message").focus();
        }
    });


    connection.on("ReceiveMessage",(user,message)=>{

        var message = "<div><b>"+user+" dijo: </b>"+message+"</div>"

        document.getElementById("messages").innerHTML = message + document.getElementById("messages").innerHTML;

    });

    connection.on("ShowWho", (message) => {

        var message = "<div><b>" + message + "</b></div>"

        document.getElementById("notifications").innerHTML =
            message + document.getElementById("notifications").innerHTML;

    });

    document.getElementById("btnClear").addEventListener("click", (event) => {
        document.getElementById("messages").innerHTML = "";
    });


</script>